@inject NavigationManager NavigationManager

@using static Microsoft.AspNetCore.Components.NavigationManager

@inherits LayoutComponentBase

<div class="layout-wrapper">

    <header class="layout-header">
        <nav class="navigation">
            <NavLink href="/">Home</NavLink>
            <NavLink href="/Prueba">Prueba</NavLink>
            <NavLink href="/Categorizador">Categorizador</NavLink>
        </nav>
    </header>

    <main class="page-wrapper">
        @Body
    </main>

    <footer class="layout-footer">
        <p>DSS Scoring Grupal | &copy; 2024 - ISOFT 02 UAdeO</p>
        <a href="https://github.com/ISOFT-02/DSS_grupal" target="_blank">Código fuente en GitHub</a>
    </footer>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>

@code{}

    